In [1]:
import pandas as pd
import xlrd

In [2]:
df = pd.DataFrame(columns = ["Name", "Roll", "Marks"]) # Columns must need to be provide. As a List

In [3]:
df  #Empty Data Frame

Empty DataFrame
Columns: [Name, Roll, Marks]
Index: []

#### Append Data

In [4]:
df = df.append({"Name":"Rajarshi", "Roll":1, "Marks":65}, ignore_index=True)

In [5]:
df

       Name Roll Marks
0  Rajarshi    1    65

In [6]:
df.loc[3,"Name"] = "Debarshi"
df.loc[3,"Roll"] = 2
df.loc[3, "Marks"] = 70

In [7]:
df

       Name Roll Marks
0  Rajarshi    1    65
3  Debarshi    2    70

In [8]:
df = df.append({"Name":"Titli", "Roll":3, "Marks":75}, ignore_index=True)  #Append() will reinitialize index value sequentially

In [9]:
df

       Name Roll Marks
0  Rajarshi    1    65
1  Debarshi    2    70
2     Titli    3    75

# By Default DataFrame name iterate over column name

In [10]:
for col in df:
    print(f"COlumn Name : {col}")
    print("-----------------------------------------------------------")
    print(df[col])
    print("")

COlumn Name : Name
-----------------------------------------------------------
0    Rajarshi
1    Debarshi
2       Titli
Name: Name, dtype: object

COlumn Name : Roll
-----------------------------------------------------------
0    1
1    2
2    3
Name: Roll, dtype: object

COlumn Name : Marks
-----------------------------------------------------------
0    65
1    70
2    75
Name: Marks, dtype: object