In [1]:
import pandas as pd
import xlrd

In [2]:
df = pd.read_excel("Canada.xlsx")

In [4]:
df.head(2)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603

In [5]:
df.shape   #ROW, COLUMNS

(196, 43)

In [6]:
df.shape[0]   #ROW

196

In [7]:
df.shape[1]   #COLUMN

43

In [8]:
df.size   #ROW * COLUMN

8428

In [10]:
df.ndim   #DIMENSION => 2D [ROW and COLUMN]

2