In [1]:
import pandas as pd
import xlrd

In [2]:
df = pd.read_excel("Canada.xlsx")
df.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [5]:
df_new = df[['OdName','AreaName',1980,1981]]
df_new = df_new.head()
df_new.loc[5] = ["Andorra", "North America", 50, 60]  #Inserting a New ROW
df_new = df_new.set_index('OdName')

# ILOC : Search will be done when user don't know Index values

#### if user is not aware about Index and Column Values, Index can be imagined as 0 to n-1 and Column can be imagined as 0 to n-1

In [6]:
df_new

                     AreaName  1980  1981
OdName
Afghanistan              Asia    16    39
Albania                Europe     1     0
Algeria                Africa    80    67
American Samoa        Oceania     0     1
Andorra                Europe     0     0
Andorra         North America    50    60

In [9]:
df_new.loc["Albania"]

AreaName    Europe
1980             1
1981             0
Name: Albania, dtype: object

In [11]:
df_new.iloc[1]  # Albania is at index 1

AreaName    Europe
1980             1
1981             0
Name: Albania, dtype: object

In [13]:
df_new.iloc[2, 1]  # ROW 2 => Algeria, COL 1 => 1980

80

In [14]:
df_new.iloc[2, 1980]  # when we are using iloc, we can't use neither Index Values nor Column Names

IndexError: single positional indexer is out-of-bounds