In [1]:
import pandas as pd
import xlrd

In [2]:
df = pd.read_excel("Canada.xlsx")
df.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [3]:
df_new = df[['AreaName', 1980]]
df_new = df_new.head()

# apply() -- On Column

#### each value of the column will be passed into that function and do necessary action. Return statements will be returned as a dataframe all together

In [4]:
def func_1(value):
    if value < 15:
        print("OK")
        return True
    else:
        print("NOT OK")
        return False

In [5]:
df_new

  AreaName  1980
0     Asia    16
1   Europe     1
2   Africa    80
3  Oceania     0
4   Europe     0

In [6]:
df_new[1980].apply(func_1)

NOT OK
OK
NOT OK
OK
OK

0    False
1     True
2    False
3     True
4     True
Name: 1980, dtype: bool

In [7]:
df_new[1980].apply(func_1).values.tolist()

NOT OK
OK
NOT OK
OK
OK

[False, True, False, True, True]

In [8]:
def func_2(value):
    if value > "Asia" and value > "Africa":
        print("OK")
        return True
    else:
        print("NOT OK")
        return False

In [9]:
df_new

  AreaName  1980
0     Asia    16
1   Europe     1
2   Africa    80
3  Oceania     0
4   Europe     0

In [10]:
df_new["AreaName"].apply(func_2)

NOT OK
OK
NOT OK
OK
OK

0    False
1     True
2    False
3     True
4     True
Name: AreaName, dtype: bool

In [11]:
df_new["AreaName"].apply(func_2).values.tolist()

NOT OK
OK
NOT OK
OK
OK

[False, True, False, True, True]

# apply() -- On DataFrame

#### In function Each and Every column will be Passed as series
#### First Pass : function(first_col_as_series)
#### Next Pass : function(next_col_as_series)

In [24]:
count = 0
def func_3(row):
    global count
    count += 1
    print(f"PASS {count}\n-------------------------")
    print(row)
    print("")

In [25]:
df_new.apply(func_3)

PASS 1
-------------------------
0       Asia
1     Europe
2     Africa
3    Oceania
4     Europe
Name: AreaName, dtype: object

PASS 2
-------------------------
0    16
1     1
2    80
3     0
4     0
Name: 1980, dtype: object

AreaName    None
1980        None
dtype: object