In [1]:
import pandas as pd
import xlrd

In [2]:
df = pd.read_excel("Canada.xlsx")
df.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [3]:
df_new = df[['AreaName', 1980, 1981, 1982]]
df_new = df_new.head()

In [4]:
df_new.columns = df_new.columns.astype(str)

In [5]:
df_new

  AreaName  1980  1981  1982
0     Asia    16    39    39
1   Europe     1     0     0
2   Africa    80    67    71
3  Oceania     0     1     0
4   Europe     0     0     0

# dtypes --- Inform what type data, column is holding

In [6]:
df_new.dtypes

AreaName    object
1980         int64
1981         int64
1982         int64
dtype: object

In [7]:
df_new["1981"].dtypes

dtype('int64')

In [8]:
df_new["AreaName"].dtypes  #Object => String

dtype('O')

In [10]:
df_new.loc[5] = [1, 2, 3, "Australia"]

In [11]:
df_new

  AreaName  1980  1981       1982
0     Asia    16    39         39
1   Europe     1     0          0
2   Africa    80    67         71
3  Oceania     0     1          0
4   Europe     0     0          0
5        1     2     3  Australia

In [12]:
df_new["AreaName"].dtypes

dtype('O')