In [1]:
import pandas as pd
import xlrd
import numpy as np

In [2]:
df = pd.read_excel("Canada.xlsx")
df.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [4]:
df_new = df[['AreaName', 1980, 1981]]
df_new = df_new.head(10)

#### Adding few NULL Values

In [6]:
df_new.loc[3,1980] = np.nan
df_new.loc[1,1980] = np.nan

In [7]:
df_new

                          AreaName   1980  1981
0                             Asia   16.0    39
1                           Europe    NaN     0
2                           Africa   80.0    67
3                          Oceania    NaN     1
4                           Europe    0.0     0
5                           Africa    1.0     3
6  Latin America and the Caribbean    0.0     0
7  Latin America and the Caribbean  368.0   426
8                             Asia    0.0     0
9                          Oceania  702.0   639

# count() ---- On DataFrame ---- counts occurances of Non NULL values over ROWs and Columns

#### Along ROW axis   DEFAULT : axis=0

In [13]:
df_new.count()

AreaName    10
1980         8
1981        10
dtype: int64

In [14]:
df_new.count(axis=0)

AreaName    10
1980         8
1981        10
dtype: int64

#### Along COLUMNB axis DEFAULT : axis=1

In [15]:
df_new.count(axis=1)

0    3
1    2
2    3
3    2
4    3
5    3
6    3
7    3
8    3
9    3
dtype: int64