In [1]:
import pandas as pd
import xlrd

In [2]:
df = pd.read_excel("Canada.xlsx")
df.columns.values

array(['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName',
       'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013], dtype=object)

In [3]:
df_new = df[['AreaName', 1980, 1981]]
df_new = df_new.head()

# All below functions will work on Numeric value properly

In [4]:
df_new

  AreaName  1980  1981
0     Asia    16    39
1   Europe     1     0
2   Africa    80    67
3  Oceania     0     1
4   Europe     0     0

#### Count how many values are there in Column

In [5]:
df_new[1980].count()

5

#### Count sum of all values

In [6]:
df_new[1980].sum()

97

#### Count average of values

In [7]:
df_new[1980].mean()

19.4

#### Standard Deviation

In [8]:
df_new[1980].std()

34.55141096974189

#### Min value

In [9]:
df_new[1980].min()

0

#### Max Value

In [11]:
df_new[1980].max()

80

#### Return Index value which contain Max value

In [13]:
df_new[1980].idxmax()

2

#### Return Index value which contain Min Value

In [15]:
df_new[1980].idxmin()

3

# Above functions which all will work on String Field

#### On String field below functions will work as Per Engilish Dictionary

In [16]:
df_new

  AreaName  1980  1981
0     Asia    16    39
1   Europe     1     0
2   Africa    80    67
3  Oceania     0     1
4   Europe     0     0

In [17]:
df_new["AreaName"].count()

5

In [18]:
df_new["AreaName"].sum()

'AsiaEuropeAfricaOceaniaEurope'

In [19]:
df_new["AreaName"].min()

'Africa'

In [20]:
df_new["AreaName"].max()

'Oceania'